doctype html
html(lang="en")
    head
        title=pageTitle
        style
            include ../../src/scss/style.css
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")

    body
        header.header
            .header-logo
                a(href="#") CORNELIA
            .header-btn
                a(href="#") Learn
                a(href="#") About
                a(href="#") Why
                button.header-btn_downloads Downloads
        aside.navigation
            .navigation-item-container
                .navigation-item Section1
                .navigation-sky
                    .navigation-sky-line
                    .navigation-sky-wrap
                        .pointer-container.pointer-position-initial
                            img(src="https://tap-ok.com/uploads/assets/navigation/pointer.svg" alt="").pointer
                        .cloud-container
                            img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
                            img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
                            img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
            .navigation-item-container
                .navigation-item Section2
                    .navigation-sky.passive-sky
                        .navigation-sky-line
                        .navigation-sky-wrap
                            .pointer-container.pointer-position-initial
                                img(src="https://tap-ok.com/uploads/assets/navigation/pointer.svg" alt="").pointer
                            .cloud-container
                                img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
                                img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
                                img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
            .navigation-item-container
                .navigation-item Section3
                    .navigation-sky.passive-sky
                        .navigation-sky-line
                        .navigation-sky-wrap
                            .pointer-container.pointer-position-initial
                                img(src="https://tap-ok.com/uploads/assets/navigation/pointer.svg" alt="").pointer
                            .cloud-container
                                img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
                                img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
                                img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
            .navigation-item-container
                .navigation-item Section4
                    .navigation-sky.passive-sky
                        .navigation-sky-line
                        .navigation-sky-wrap
                            .pointer-container.pointer-position-initial
                                img(src="https://tap-ok.com/uploads/assets/navigation/pointer.svg" alt="").pointer
                            .cloud-container
                                img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
                                img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
                                img(src="https://tap-ok.com/uploads/assets/navigation/cloud.svg").cloud
        section.section1
            .section1-circle1.circle
            .section1-circle2.circle
            .section1-circle3.circle
            .section1-circle4.circle
            .section1-circle5.circle
            .section1-title.title
                p Cornelia #[br]  is the new
            .section1-title2.title black
            .section1-horse
                img(src="../../src/image/horse.svg", alt="horseImage")
        section.section2
            .section2-text
                h1 Toward infinity #[br] and beyond
                p Discover your new favourite mascot. With her, boost your imagination and decorate your workspace. May Cornelia accompany you in your daily life and in the most perilous missions you may encounter. With her, give yourself the means to succeed, believe in yourselfand in your dreams!
            .section2-horse
            .section2-horse
            .section2-horse
            .section2-horse
            .section2-horse
            .section2-horse
        section.section3
            .section3-text
                .section3-text-body
                    h2 Choose #[br]your destiny
                    p Each unicorn has its own personality and symbolism. Get to know your new mascot and surround yourself with a strong ally. Thus choose the brave one and you will be able to face any situation. Take the sweet Cornelia and protect your health. If you need more luck, meet the Magic Cornelia! If you’re born to be bold, choose the Impetuous Cornelia : nothing will defeat you.
                    button Learn more about her story
            .section3-menu
                .section3-menu-wrap1
                    .section3-menu-horse1.horseAnimation
                        img(src="../../src/image/section3-horse.png", alt="section3-horse")
                .section3-menu-wrap2
                    .section3-menu-horse2.horseAnimation
                        img(src="../../src/image/section3-horse2.png", alt="section3-horse2")
                .section3-menu-wrap3
                    .section3-menu-horse3.horseAnimation
                        img(src="../../src/image/section3-horse3.png", alt="section3-horse3")
        section.section4
            .section4-text
                h1 Get started with #[br] Cornelia today
            .section4-menu
                button#btn_section4_one Download for Figma
                button#btn_section4_two Download for Sketch
            .section4-socialMedia
                ul.section4-socialMedia-links
                    li
                        a(href="#")
                            img(src="https://tap-ok.com/uploads/assets/icon/facebook.svg")
                    li
                        a(href="#")
                            img(src="https://tap-ok.com/uploads/assets/icon/linkedin.svg")
                    li
                        a(href="#")
                            img(src="https://tap-ok.com/uploads/assets/icon/insta.svg")
                    li
                        a(href="#")
                            img(src="https://tap-ok.com/uploads/files/2222-721994c1-1735-4d98-808e-62944d0deb52.png")
                .section4-socialMedia-wrap
                    img(src="../../src/image/section4-unicorns.png")
                    p Cornelia
                    p Design & Development
        script(src='../../src/js/main.js')

















































































































































































































































































































































































































































































































































































































